In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
# 붓꽃 데이터 읽기
iris_data = pd.read_csv('iris.csv', encoding='utf-8')
iris_data

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

# 붓꽃 데이터를 레이블(y, 정답데이터)과 입력데이터(x, 학습데이터)로 분류

In [3]:
# 정답(레이블)
y_label = iris_data.loc[:, 'Name']
y_label

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

In [4]:
# 학습(입력)
x_data = iris_data.loc[:, ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']]
x_data

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [5]:
# 학습전용(Train)과 테스트전용(Test) 분리
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.2, train_size=0.8, shuffle=True) # shuffle로 학습용과 테스트용 데이터가 겹쳐지지 않도록 섞어준다.

In [6]:
x_train

     SepalLength  SepalWidth  PetalLength  PetalWidth
129          7.2         3.0          5.8         1.6
25           5.0         3.0          1.6         0.2
148          6.2         3.4          5.4         2.3
59           5.2         2.7          3.9         1.4
130          7.4         2.8          6.1         1.9
..           ...         ...          ...         ...
21           5.1         3.7          1.5         0.4
105          7.6         3.0          6.6         2.1
77           6.7         3.0          5.0         1.7
13           4.3         3.0          1.1         0.1
37           4.9         3.1          1.5         0.1

[120 rows x 4 columns]

In [10]:
# scv 학습
clf = SVC()
clf.fit(x_train, y_train)

SVC()

In [11]:
# 학습된 데이터를 테스트 데이터를 보고 예측
y_predict = clf.predict(x_test)
y_predict

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor'], dtype=object)

In [12]:
# 예측된 데이터를 테스트 데이터의 정답 레이블과 비교하여 정확도를 나타냄
accuracy_score(y_test, y_predict)

0.9666666666666667